.login_bg {
    background-image: url('/assets/images/Background.png');
    background-size: cover;
}

.title {
    font-weight: 600;
    line-height: 54px;
    font-size: 36px;
    font-family: poppins-semibold !important;
    color: var(--primary-text);
}

.subTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--secondary-text);
}

.forgot {
    margin-top: 29px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: var(--secondary-text);
}

.forgot a {
    font-family: poppins-semibold !important;
    color: var(--primary-text);
}
